.quote-mark {
    margin: 2rem 0 6rem 0;
}
.quote {
    height: 40rem;
}
.disease {
    bottom: 329px;
    left: 230px;
}
.indig {
    bottom: 238px;
    left: 165px;  
}
.corp {
    bottom: 312px;
    left: -155px;

}
.inst {
    bottom: 362px;
    left: -212px;  
} 
.found {
    bottom: 446px;
    left: 92px;  
}
.nation {
    bottom: 416px;
    left: 142px;  
} 
.prov {
    bottom: 346px;
    left: 75px;  
} 
.pharma {
    bottom: 342px;
    left: -27px;
}
.stake {
    bottom: 380px;
    left: -65px;
}
.eco {
    bottom: 180px;
    left: 66px;
    text-align: left;
}
.approach-arrow {
    top: -138px;
    left: -57px;
}
.fr-2ln {
    height: 5rem;
}

@media only screen and (min-width:1024px) {

    .fr-2ln {
        height: 2.8rem;
    }

    .donor-quote .quote-mark {
        margin-top: 120px !important;
    }

    .quote-mark {
        margin: 0 0 80px 0;
        line-height: .1em;
    }
    .quote {
        height: 500px;
    }

    .disease {
        bottom: 85px;
        left: 130px;
    }
    .indig {
        bottom: 143px;
        left: -135px;  
    }
    .corp {
        bottom: 199px;
        text-align: left;
        left: -150px;

    }
    .inst {
        bottom: 245px;
        text-align: left;
        left: -432px;  
    } 
    .found {
        bottom: 296px;
        text-align: left;
        left: -396px;  
    }
    .nation {
        bottom: 472px;
        left: 24px;  
    } 
    .prov {
        bottom: 520px;
        left: -196px;  
    } 
    .pharma {
        bottom: 582px;
        text-align: left;
        left: -162px;
    }
    .stake {
        bottom: 642px;
        text-align: left;
        left: -326px;
    }
    .eco {
        bottom: 740px;
        text-align: left;
        left: 117px;
    }


    .approach-arrow {
        top: -466px;
        left: 400px;
        rotate: -90deg;

    }
    .inputs-cover-1 {
        top: 284px;
    }
    .inputs-cover-2 {
        bottom: 2080px;
    }
    .process-cover-1 {
        top: 594px;
    }
    .process-cover-2 {
        bottom: 1670px;
    }
    .results-cover-1 {
        top: 1010px;
    }
    .results-cover-2 {
        bottom: 1096px;
    }
    .outputs-cover-1 {
        top: 1588px;
    }
    .outputs-cover-2 {
        bottom: 737px;
    }

    .outcomes-cover-1 {
        top: 1956px;
    }
    .outcomes-cover-2 {
        bottom: 113px;
    }
}