:root {
    --color-1: #231F20; /* dark */
    --color-2: #cfc22a; /* yellow */ 
    --color-3: #503584; /* dark-purple */
    --color-4: #8c4f9e; /* light-purple */
    --color-5: #3c54a5; /* dark-blue */
    --color-6: #3e6fb6; /* mid-blue */
    --color-7: #72b0d4; /* light-blue (title) */
    --color-8: #e966a3; /* pink */
    --color-9: #cfc22a; /* green-yellow */
    --color-10: #8ad1d0; /* teal */
    --color-11: #f6c015; /* gold */
    --color-12: #F5F4F0; /* beige */
    --color-13: #2bace2; /* lightblue2 */
    
    --max-width: 460px;
    --standard-padding: 1rem;

    /* --graph-move: 0.5s;
    --headline-delay: 0.5s;
    --second-headline-delay: 4s;
    --graph-unit: 27px; */

    --sans: "Roboto", Arial, Helvetica, sans-serif;
    /* --slab: "Roboto Slab", sans-serif; */
}
.green-yellow {
    color: var(--color-9);
}
.teal {
    color: var(--color-10);
}
.gold {
    color: var(--color-11);
}
.light-blue {
    color: var(--color-7);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-size: 3.8vw;

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: var(--sans);
}

sup {
    vertical-align: super;
    font-size: .6em;
}
.hide-narrow {
    display: none;
}
h2 {
    color: var(--color-1);
    font-weight: bold;
    font-size: 1rem;
    margin-top: 4rem;
    margin: 4rem 0 0;
    padding: 0;

}

h3 {
    color: var(--color-1);
    font-size: 1.8rem;
    font-weight: 200;
    padding: 0;
    margin: 12px 0 0 0;
}



button.more-less {
    text-decoration: none;
    color: var(--color-5);
    display: block;
    margin: 1.5rem 0 0 0;
    padding: 0;
    width: fit-content;
    background: none;
    border: none;
    cursor: pointer;
    font-size: .95rem;
}

button.large-button {
    font-size: 1em !important;
    display: inline !important;
    margin: 0;
    padding: 0;
    /* outline: 1px solid greenyellow; */
}

.site-container {
    width: 100dvw;
    max-width: var(--max-width);
}

header {
    background-color: black;
    height:60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid 1px;
    padding: 0 30px;
}

header img {
    width: 130px;
}
header p {
    font-weight: 800;
    color: white;
    padding: 0;
    margin: 0;
}
header p a {
    color: white;
    font-weight: 400;
    text-decoration: none;
}


.title-box {
    position: absolute;
    top: var(--standard-padding);
    left: var(--standard-padding);
}
.title-box h1 {
    font-weight: 600; 
    font-size: 2.5rem; 
    color: var(--color-7);
    padding: 0;
    margin: 30px 0 3px;
}

.title-box h2 {
font-size: 1.7rem;
font-weight: 300;
color: white;
margin: 0;
padding: 0;
}

.title-box h3 {
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
}


.path {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: dash 4s linear forwards 1;
    width:648px;

}

.site-content {
    position: absolute;
    top:61px; 
    width: 100%;
}    

.animation-container {
    max-width: var(--max-width);
    overflow-x: hidden;
    margin-bottom: 60px;
}

.lines-container {
    width: 250vw;
    max-width: calc(var(--max-width) * 2.5);
    position: relative;
    left:0;
    animation: pan 1.2s linear forwards 1;
    animation-delay: 1050ms;
    background-color:var(--color-1);
}


.arrow-container {
    width: 675px;
    position: absolute;
    top: 387px;
    left: -630px;
    animation: arrow 1500ms linear forwards 1;
}

@keyframes pan {
    to {
        left: -400px
    }
}

@keyframes arrow {
    to {
        left:0;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.vision-mission {
    background-color: var(--color-1);
    padding: 60px var(--standard-padding) 15rem;
    color: white;
    font-weight: 200;
    max-width: var(--max-width);
}
.vision-mission h2 {
    color:var(--color-8);
    font-weight: 200;
    margin: 0;
    padding: 0;
    font-size:1.7rem
}
.vision-mission p {
    padding: 0;
    margin: 0 0 40px 0;
    font-size: 1.7rem;
}
.message {
    max-width: var(--max-width);
    padding: var(--standard-padding) var(--standard-padding) calc(var(--standard-padding) *2);
    font-weight: 300;
    font-size: .92rem;
}


.message img {
    width: 100%;
    margin: var(--standard-padding) 0;
}

.message-box {
    height: 0;
    overflow: hidden;
}
.no-bottom-margin {
    margin-bottom: 0;
    padding-bottom: 0;
}


.open {
    height: auto !important;
}

.quote {
    font-size: 1.13rem;
    line-height: 1.2em;
    font-weight: 300;
    background-color: var(--color-1);
    padding: var(--standard-padding);
    max-width: var(--max-width);
    height: 135vw;

}

.quote.chair {
    color: var(--color-8);
}
.quote.ceo {
    color: var(--color-11);
}
.quote-mark {
    display: block;
    font-size: 10.5rem;
    font-weight: 600;
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 6rem 0 2rem 0;
}
.quote-name-title {
    color: white;
}

.yir {
    max-width: var(--max-width);
    padding: var(--standard-padding);
    font-weight: 300;
    font-size: .8rem;
    background-color: white;
}

.yir-section {
    display: flex;
    flex-direction: row;
}

.yir-content {
    width: 80%;
    flex-direction: column;
}
.yir-image {
    width: 20%;
    margin-top: .5em;
    
}
.yir h4 {
    font-size: 1rem;
    display: block;
    background-color: white;
    margin-bottom: 0;
    padding-bottom: 0;
}


.yir-inputs h4 {
    color: var(--color-7);
}

.yir-process h4 {
    color: var(--color-10);
}
.yir-results h4 {
    color: var(--color-4);
}

.yir-outputs h4 {
    color: var(--color-8);
}
.yir-outcomes h4 {
    color: var(--color-2);
}


.yir-stats {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.yir-stats div {
    flex-direction: column;
    width: 33%;
}


.yir div p {
    font-weight: 400;
    display: block;
    margin-right: 3vw;

}
.yir-number {
    font-size: 1.2em;
    font-weight: 700;
    border-bottom: 3px solid var(--color-1); 
    padding: 0;
    margin: 2px;
    display: inline-block;
    width: 100%;    
}
.approach {
    max-width: var(--max-width);
    padding: var(--standard-padding) var(--standard-padding) calc(var(--standard-padding) *2);
    font-weight: 300;
    font-size: 1rem;
    background-color: white;
}

.approach-heading, .approach-footer {
    border: 5px  var(--color-13) solid;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
.approach-heading {
    color: var(--color-13);
    background-color: white;
}
.approach-footer {
    color: white;
    background-color: var(--color-13);
    padding-top: 5px;
    margin-top: 20px;
}

.approach-diagram-content {
    position: relative;
    top: -1px;
    font-size: 10px;
    width: 340px;
    margin: 0 auto;
    text-align: left;
    height: 400px;
    overflow: hidden;
}

.approach-diagram-content img {
    width: 340px;
}
.disease, .indig, .corp, .inst, .found, .nation, .prov, .pharma, .stake, .eco {
    position: relative;
    display: inline-block;
} 
.disease {
    bottom: 327px;
    text-align: left;
    left: 230px;
}
.indig {
    bottom: 236px;
    text-align: left;
    left: 195px;  
}
.corp {
    bottom: 314px;
    text-align: right;
    left: -120px;

}
.inst {
    bottom: 364px;
    text-align: right;
    left: -183px;  
} 
.found {
    bottom: 437px;
    text-align: right;
    left: 94px;  
}
.nation {
    bottom: 405px;
    text-align: left;
    left: 142px;  
} 
.prov {
    bottom: 335px;
    text-align: left;
    left: 109px;  
} 
.pharma {
    bottom: 290px;
    text-align: right;
    left: -241px;
}
.stake {
    bottom: 329px;
    text-align: right;
    left: -270px;
}
.eco {
    bottom: 170px;
    text-align: right;
    left: 215px;
}


.approach-arrow {
    width: 25px !important;
    position: relative;
    top: -114px;
    left: 40px;

}






.research {
    max-width: var(--max-width);
    padding: var(--standard-padding) var(--standard-padding) calc(var(--standard-padding) *2);
    font-weight: 300;
    font-size: 1rem;
    background-color: var(--color-12); 
}


.research h2 {
    margin-top: 0.5rem;
    margin-bottom: .5rem;
}

.research h3 {
    margin: .25rem 0; 
}
.research-section {
    height: 3rem;
    overflow: hidden;
    border-top: 1px solid var(--color-1);
    padding-bottom: 20px;;
}
.research-section-open {
    height: auto;
}
.no-border {
    border: none;
}

.research-section-content {
    overflow: hidden;
}

.case-study {
    height:0;
    overflow: hidden;
    margin-top: var(--standard-padding);
}


.research-img {
    width: 50%;
    border-radius: 50%;
    float: right;
    margin-bottom: 20px;
}
.journey {
    background-color: var(--color-1);
    color: white;
    max-width: var(--max-width);
    padding: var(--standard-padding);
    font-weight: 300;
    font-size: 1rem;
    overflow: hidden;
}

.journey h2, .journey h3, .journey h4 {
    color: white;
}

.journey h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.journey p {
    margin-top: 0;
    padding-top: 0;
}

/***** CAROUSEL ******/

.slider-wrapper {
    display: flex;
    width: 100%;
    flex: 0 0 auto;
    overflow: visible;
    padding: 35px 0 7px;
    margin-top: 35px;   
}
.slider-wrapper.fr {
    height: 140px;
}
.slider-nm {
    margin-top: 20px !important; 
    padding-top: 0 !important;
}   
.slider-wrapper .animation-item {
    display: flex;
    flex: 0 0 auto; 
    padding-bottom: 10px;
    transition: 2s;
}
  
.slider-wrapper .animation-item p {
    display: block !important;
}
.slider-wrapper .animation-item.anim-padding {
    padding-left: 80px;
}
.slider-wrapper .animation-item.animate {
    animation: moveSlideshow 60s linear infinite;
    animation-delay: 1s;
}
.slider-wrapper .animation-item:hover {
    animation-play-state: paused;
}
@keyframes moveSlideshow {
    100% { 
        transform: translateX(-70%);  
    }
}
.items-holder {
    display: flex;
    flex-direction: column;
}
.items-holder img {
    margin-top: 20px;;
    width: 98%;
}
.items {
    display: flex !important;
    flex-direction: row;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.item {
    display: block;
    text-align: left;
    padding: 0 10px 0 20px;
    border-right: solid 1px white;
    min-width: 300px;
    max-width: 300px;
    max-height: 120px;
}
.item.long {
    min-width: 325px !important;
    max-width: 325px !important;
}

.item p {
    padding-top: 0;
    margin-top: 0;
    display: block;
    border-bottom: none !important;
}
.item h3 {
    font-size: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.donors {
    max-width: var(--max-width);
    padding: var(--standard-padding) var(--standard-padding) calc(var(--standard-padding) *2);
    font-weight: 300;
    font-size: 1rem;
    background-color: var(--color-12);

}

.donors h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.donor-list {
    height: 0;
    overflow: hidden;
}

.hidden-list {
    list-style-type: none;
    margin: 0;
    padding:0;
}

.donor-quote {
    font-size: 1.13rem;
    line-height: 1.2em;
    font-weight: 700;
    color: var(--color-4);


}
.donor-button {
    margin: 3rem 0 5rem 0 !important;
    letter-spacing: -.01rem;
}
.donor-quote-name-title {
    color: var(--color-1);
    font-size: 1rem;
    font-weight: 300;
}

.bold {
    font-weight: 600;
}

.financials {
    max-width: var(--max-width);
    padding: var(--standard-padding);
    font-weight: 300;
    font-size: 1rem;
    background: url(../img/arrows-back.png);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 200px;
    margin-bottom: var(--standard-padding);
}


footer {
    max-width: var(--max-width);
    padding: var(--standard-padding);
    font-weight: 300;
    font-size: 1rem;
    background-color: var(--color-1);
    color: white;
}

footer img {
    width: 10rem;
    margin-bottom: 25px;
}

footer h2 {
    color: white;
    font-size: 1.7rem;
    font-weight: 300;
}


footer a {
    text-decoration: underline;
    color: white;
}

footer a:hover {
    text-decoration: none;
}

footer h3 {
    color: white;
    font-weight: 700;
    font-size: 1em;
}

.social img {
    width: 1.7rem;
    margin: 1rem 0 0 5px;
}
.copyright {
    font-size: .8em;
    margin-top: 3.5em;
}



@media only screen and (min-width:500px) {
    :root {
        --standard-padding:20px;
    }

    html {
        font-size: 15px;
    }

    .quote {
        height: 506px;
    }

}

@media only screen and (min-width:800px) {
    :root {
        --max-width: 1024px;
        --standard-padding: 60px;  
    }
    .site-container {
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
    }
    .animation-container {
        width: 100%;
        max-width: 1024px;
        background-color: var(--color-1);
        padding: 0 60px;
    }
    .wide-content {
        padding-right: 35%;
    }
    /* .message-box {
        outline: 1px solid pink;
    } */
    .message-box img {
        width: 45%;

    }
    .bottom {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 40px 20% 0 0;

    }
    .message-close {
        padding-top: 0;
        margin-top: 0;
    }

    .case-study {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .case-study div {
        width: 65%;
    }
    .case-study img {
        width: 25%;
        height: 25%;
        margin: 60px 60px 20px;
    }
    .hide-wide {
        display: none !important;
    }
    .donor-list {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}
    .donor-list div {
        width: 48%;
    }
    .hide-narrow {
        display: block !important;
    }
    .donor-quote {
        width: 100% !important;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-end;
        margin-top: 0 !important;
        padding-top: 45px;
        padding-bottom: 45px;
    }
    footer div {
        width: 46%;
    }

    .column1 h2 {
        margin: 0 !important;
        padding: 0 !important;
    }

    footer .column1 img {
        margin: 25px 0 0;
        padding: 0;
    }




}


/* .yir {
    background-color: var(--color-12);
} */
